* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Background color */
body {
    background-color: #BFDCE5;
    /* background-image: linear-gradient(to bottom right, #1D2671,#C33764); */
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 350px 0px;
}


/* Home Page  */
.homepage {
    color: white;
    font-size: 50px;
}

/* Top menu/links */
.upper-menu {
    display: flex;
    justify-content: space-evenly;
}

.link a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* Upper row */
.upper-row {
    display: flex;
    gap: 100px;
}
.my-photo {
    max-width: 300px;
    border-radius: 10px;
}

.upper-description {
    display: flex;
    flex-direction: column;
}

.my-name {
    color: white;
    font-size: 72px;
}

.major-school {
    font-size: 25px;
}



/* main section */
.main-section {
    padding: 50px 150px;
}

